#Ignore node_modules folder
node_modules/

#Ignore assets folder
assets/

#Ignore package files
package.json
package-lock.json
# Ignore log files
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

#Ignore vue files
vue.config.js